.requester {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .requester__total {
    margin-bottom: $small-spacing;
  }

  .requester__pie {
    width: 50%;
    height: 50%;
  }
}
