@font-face {
  font-family: aeonik;
  src:
    url("/src/styles/fonts/aeonik/Aeonik.woff2") format("woff2"),
    url("/src/styles/fonts/aeonik/Aeonik.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
