@font-face {
  font-family: Test;
  src:
    url("/src/styles/fonts/aeonik/FontTest.woff2") format("woff2"),
    url("/src/styles/fonts/aeonik/FontTest.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
