@import "themes/index.scss";
@import "vendors/index.scss";
@import "base/index.scss";
@import "components/index.scss";
@import "helpers/index.scss";

.cat {
  max-height: "380px";
  max-width: "370px";
  object-fit: "fill";
}
