body,
#root {
  background-color: $background-color;
  color: $primary-text-color;
  height: 100%;
}

h1 {
  font-size: $heading1;
}

h2 {
  font-size: $heading2;
}

h3 {
  font-size: $heading3;
}

p,
span {
  font-size: $small-font-size;
}

*{
  font-family: aeonik;
}